doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul.nav-list
        li
          a(href='/') Home
        li
          a(href='/questions') Questions
        li
          a(href='/questions/new') New Question
    main
      - if (success)
        .alert.alert-success= success
      - else if (info)
        .alert.alert-info= info
      - else if (error)
        .alert.alert-danger= error
      block content
