doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul.nav-list
        li
          a(href='/') Home
        li
          a(href='/questions') Questions
        li
          a(href='/questions/new') New Question
    main
      block content
