extends ../layout

block content
  h1 Sign Up
  form(method='POST' action='/sessions')
    .form-group
      label(for='email') Email
      input(type='email' id='email' name='email' class='form-control')
    .form-group
      label(for='password') Passwords
      input(type='password' id='password' name='password' class='form-control')
    .form-group
      input(type='submit' value='Sign Up' class='btn btn-primary')
